<div class="sidebar__item">
    <h4>Price</h4>
    <form method="get" asp-controller="Shop" asp-action="Index">
        <input type="text" name="priceMin" value="10">
        <input type="text" name="priceMax" value="540">
        <button type="submit">Filter</button>
    </form>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".price-range").slider({
                range: true,
                min: 10,
                max: 540,
                values: [10, 540],
                slide: function (event, ui) {
                    $("#minamount").val(ui.values[0]);
                    $("#maxamount").val(ui.values[1]);
                }
            });
            // Set initial values
            $("#minamount").val($(".price-range").slider("values", 0));
            $("#maxamount").val($(".price-range").slider("values", 1));
        });
    </script>
}