@model SchoolSupplies.Models.ForgotPassword

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/ForgotPassword.cshtml";
}
<div id="auth">
    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <h1 class="auth-title">Forgot Password</h1>
                <p class="auth-subtitle mb-5">Input your email and we will send you reset password link.</p>

                <form asp-controller="Access" asp-action="ForgotPassword" method="post">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div id="successMessage" class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }

                    @if (TempData["WarningMessage"] != null)
                    {
                        <div id="warningMessage" class="alert alert-warning">
                            @TempData["WarningMessage"]
                        </div>
                    }

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div id="errorMessage" class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="email" class="form-control form-control-xl" placeholder="Email" asp-for="UserEmail">
                        <div class="form-control-icon">
                            <i class="bi bi-envelope"></i>
                        </div>
                        <span asp-validation-for="UserEmail" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5" type="submit">Send</button>
                </form>

                <div class="text-center mt-5 text-lg fs-4">
                    <p class='text-gray-600'>
                        Remember your account? <a asp-action="Login" class="font-bold">Log in</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        hideMessage("successMessage", 1000); // ẩn thông báo thành công sau 1 giây
        hideMessage("warningMessage", 2000); // ẩn thông báo cảnh báo sau 2 giây
        hideMessage("errorMessage", 3000); // ẩn thông báo lỗi sau 3 giây
    });

    function hideMessage(messageId, timeout) {
        var message = document.getElementById(messageId);
        if (message) {
            setTimeout(function () {
                message.style.display = "none";
            }, timeout);
        }
    }
</script>