<section class="breadcrumb-section set-bg" data-setbg="@Url.Content("~/User/img/background102.jpg")" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>School Supplies</h2>
                    <h4><a asp-controller="Shop" asp-action="Index">Shop</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>